.pie-j-0::before{transform: rotate(0deg);}
.pie-j-1::before{transform: rotate(1deg);}
.pie-j-2::before{transform: rotate(2deg);}
.pie-j-3::before{transform: rotate(3deg);}
.pie-j-4::before{transform: rotate(4deg);}
.pie-j-5::before{transform: rotate(5deg);}
.pie-j-6::before{transform: rotate(6deg);}
.pie-j-7::before{transform: rotate(7deg);}
.pie-j-8::before{transform: rotate(8deg);}
.pie-j-9::before{transform: rotate(9deg);}
.pie-j-10::before{transform: rotate(10deg);}
.pie-j-11::before{transform: rotate(11deg);}
.pie-j-12::before{transform: rotate(12deg);}
.pie-j-13::before{transform: rotate(13deg);}
.pie-j-14::before{transform: rotate(14deg);}
.pie-j-15::before{transform: rotate(15deg);}
.pie-j-16::before{transform: rotate(16deg);}
.pie-j-17::before{transform: rotate(17deg);}
.pie-j-18::before{transform: rotate(18deg);}
.pie-j-19::before{transform: rotate(19deg);}
.pie-j-20::before{transform: rotate(20deg);}
.pie-j-21::before{transform: rotate(21deg);}
.pie-j-22::before{transform: rotate(22deg);}
.pie-j-23::before{transform: rotate(23deg);}
.pie-j-24::before{transform: rotate(24deg);}
.pie-j-25::before{transform: rotate(25deg);}
.pie-j-26::before{transform: rotate(26deg);}
.pie-j-27::before{transform: rotate(27deg);}
.pie-j-28::before{transform: rotate(28deg);}
.pie-j-29::before{transform: rotate(29deg);}
.pie-j-30::before{transform: rotate(30deg);}
.pie-j-31::before{transform: rotate(31deg);}
.pie-j-32::before{transform: rotate(32deg);}
.pie-j-33::before{transform: rotate(33deg);}
.pie-j-34::before{transform: rotate(34deg);}
.pie-j-35::before{transform: rotate(35deg);}
.pie-j-36::before{transform: rotate(36deg);}
.pie-j-37::before{transform: rotate(37deg);}
.pie-j-38::before{transform: rotate(38deg);}
.pie-j-39::before{transform: rotate(39deg);}
.pie-j-40::before{transform: rotate(40deg);}
.pie-j-41::before{transform: rotate(41deg);}
.pie-j-42::before{transform: rotate(42deg);}
.pie-j-43::before{transform: rotate(43deg);}
.pie-j-44::before{transform: rotate(44deg);}
.pie-j-45::before{transform: rotate(45deg);}
.pie-j-46::before{transform: rotate(46deg);}
.pie-j-47::before{transform: rotate(47deg);}
.pie-j-48::before{transform: rotate(48deg);}
.pie-j-49::before{transform: rotate(49deg);}
.pie-j-50::before{transform: rotate(50deg);}
.pie-j-51::before{transform: rotate(51deg);}
.pie-j-52::before{transform: rotate(52deg);}
.pie-j-53::before{transform: rotate(53deg);}
.pie-j-54::before{transform: rotate(54deg);}
.pie-j-55::before{transform: rotate(55deg);}
.pie-j-56::before{transform: rotate(56deg);}
.pie-j-57::before{transform: rotate(57deg);}
.pie-j-58::before{transform: rotate(58deg);}
.pie-j-59::before{transform: rotate(59deg);}
.pie-j-60::before{transform: rotate(60deg);}
.pie-j-61::before{transform: rotate(61deg);}
.pie-j-62::before{transform: rotate(62deg);}
.pie-j-63::before{transform: rotate(63deg);}
.pie-j-64::before{transform: rotate(64deg);}
.pie-j-65::before{transform: rotate(65deg);}
.pie-j-66::before{transform: rotate(66deg);}
.pie-j-67::before{transform: rotate(67deg);}
.pie-j-68::before{transform: rotate(68deg);}
.pie-j-69::before{transform: rotate(69deg);}
.pie-j-70::before{transform: rotate(70deg);}
.pie-j-71::before{transform: rotate(71deg);}
.pie-j-72::before{transform: rotate(72deg);}
.pie-j-73::before{transform: rotate(73deg);}
.pie-j-74::before{transform: rotate(74deg);}
.pie-j-75::before{transform: rotate(75deg);}
.pie-j-76::before{transform: rotate(76deg);}
.pie-j-77::before{transform: rotate(77deg);}
.pie-j-78::before{transform: rotate(78deg);}
.pie-j-79::before{transform: rotate(79deg);}
.pie-j-80::before{transform: rotate(80deg);}
.pie-j-81::before{transform: rotate(81deg);}
.pie-j-82::before{transform: rotate(82deg);}
.pie-j-83::before{transform: rotate(83deg);}
.pie-j-84::before{transform: rotate(84deg);}
.pie-j-85::before{transform: rotate(85deg);}
.pie-j-86::before{transform: rotate(86deg);}
.pie-j-87::before{transform: rotate(87deg);}
.pie-j-88::before{transform: rotate(88deg);}
.pie-j-89::before{transform: rotate(89deg);}
.pie-j-90::before{transform: rotate(90deg);}
.pie-j-91::before{transform: rotate(91deg);}
.pie-j-92::before{transform: rotate(92deg);}
.pie-j-93::before{transform: rotate(93deg);}
.pie-j-94::before{transform: rotate(94deg);}
.pie-j-95::before{transform: rotate(95deg);}
.pie-j-96::before{transform: rotate(96deg);}
.pie-j-97::before{transform: rotate(97deg);}
.pie-j-98::before{transform: rotate(98deg);}
.pie-j-99::before{transform: rotate(99deg);}
.pie-j-100::before{transform: rotate(100deg);}
.pie-j-101::before{transform: rotate(101deg);}
.pie-j-102::before{transform: rotate(102deg);}
.pie-j-103::before{transform: rotate(103deg);}
.pie-j-104::before{transform: rotate(104deg);}
.pie-j-105::before{transform: rotate(105deg);}
.pie-j-106::before{transform: rotate(106deg);}
.pie-j-107::before{transform: rotate(107deg);}
.pie-j-108::before{transform: rotate(108deg);}
.pie-j-109::before{transform: rotate(109deg);}
.pie-j-110::before{transform: rotate(110deg);}
.pie-j-111::before{transform: rotate(111deg);}
.pie-j-112::before{transform: rotate(112deg);}
.pie-j-113::before{transform: rotate(113deg);}
.pie-j-114::before{transform: rotate(114deg);}
.pie-j-115::before{transform: rotate(115deg);}
.pie-j-116::before{transform: rotate(116deg);}
.pie-j-117::before{transform: rotate(117deg);}
.pie-j-118::before{transform: rotate(118deg);}
.pie-j-119::before{transform: rotate(119deg);}
.pie-j-120::before{transform: rotate(120deg);}
.pie-j-121::before{transform: rotate(121deg);}
.pie-j-122::before{transform: rotate(122deg);}
.pie-j-123::before{transform: rotate(123deg);}
.pie-j-124::before{transform: rotate(124deg);}
.pie-j-125::before{transform: rotate(125deg);}
.pie-j-126::before{transform: rotate(126deg);}
.pie-j-127::before{transform: rotate(127deg);}
.pie-j-128::before{transform: rotate(128deg);}
.pie-j-129::before{transform: rotate(129deg);}
.pie-j-130::before{transform: rotate(130deg);}
.pie-j-131::before{transform: rotate(131deg);}
.pie-j-132::before{transform: rotate(132deg);}
.pie-j-133::before{transform: rotate(133deg);}
.pie-j-134::before{transform: rotate(134deg);}
.pie-j-135::before{transform: rotate(135deg);}
.pie-j-136::before{transform: rotate(136deg);}
.pie-j-137::before{transform: rotate(137deg);}
.pie-j-138::before{transform: rotate(138deg);}
.pie-j-139::before{transform: rotate(139deg);}
.pie-j-140::before{transform: rotate(140deg);}
.pie-j-141::before{transform: rotate(141deg);}
.pie-j-142::before{transform: rotate(142deg);}
.pie-j-143::before{transform: rotate(143deg);}
.pie-j-144::before{transform: rotate(144deg);}
.pie-j-145::before{transform: rotate(145deg);}
.pie-j-146::before{transform: rotate(146deg);}
.pie-j-147::before{transform: rotate(147deg);}
.pie-j-148::before{transform: rotate(148deg);}
.pie-j-149::before{transform: rotate(149deg);}
.pie-j-150::before{transform: rotate(150deg);}
.pie-j-151::before{transform: rotate(151deg);}
.pie-j-152::before{transform: rotate(152deg);}
.pie-j-153::before{transform: rotate(153deg);}
.pie-j-154::before{transform: rotate(154deg);}
.pie-j-155::before{transform: rotate(155deg);}
.pie-j-156::before{transform: rotate(156deg);}
.pie-j-157::before{transform: rotate(157deg);}
.pie-j-158::before{transform: rotate(158deg);}
.pie-j-159::before{transform: rotate(159deg);}
.pie-j-160::before{transform: rotate(160deg);}
.pie-j-161::before{transform: rotate(161deg);}
.pie-j-162::before{transform: rotate(162deg);}
.pie-j-163::before{transform: rotate(163deg);}
.pie-j-164::before{transform: rotate(164deg);}
.pie-j-165::before{transform: rotate(165deg);}
.pie-j-166::before{transform: rotate(166deg);}
.pie-j-167::before{transform: rotate(167deg);}
.pie-j-168::before{transform: rotate(168deg);}
.pie-j-169::before{transform: rotate(169deg);}
.pie-j-170::before{transform: rotate(170deg);}
.pie-j-171::before{transform: rotate(171deg);}
.pie-j-172::before{transform: rotate(172deg);}
.pie-j-173::before{transform: rotate(173deg);}
.pie-j-174::before{transform: rotate(174deg);}
.pie-j-175::before{transform: rotate(175deg);}
.pie-j-176::before{transform: rotate(176deg);}
.pie-j-177::before{transform: rotate(177deg);}
.pie-j-178::before{transform: rotate(178deg);}
.pie-j-179::before{transform: rotate(179deg);}
.pie-j-180::before{transform: rotate(180deg);}
.pie-j-181::before{transform: rotate(181deg);}
.pie-j-182::before{transform: rotate(182deg);}
.pie-j-183::before{transform: rotate(183deg);}
.pie-j-184::before{transform: rotate(184deg);}
.pie-j-185::before{transform: rotate(185deg);}
.pie-j-186::before{transform: rotate(186deg);}
.pie-j-187::before{transform: rotate(187deg);}
.pie-j-188::before{transform: rotate(188deg);}
.pie-j-189::before{transform: rotate(189deg);}
.pie-j-190::before{transform: rotate(190deg);}
.pie-j-191::before{transform: rotate(191deg);}
.pie-j-192::before{transform: rotate(192deg);}
.pie-j-193::before{transform: rotate(193deg);}
.pie-j-194::before{transform: rotate(194deg);}
.pie-j-195::before{transform: rotate(195deg);}
.pie-j-196::before{transform: rotate(196deg);}
.pie-j-197::before{transform: rotate(197deg);}
.pie-j-198::before{transform: rotate(198deg);}
.pie-j-199::before{transform: rotate(199deg);}
.pie-j-200::before{transform: rotate(200deg);}
.pie-j-201::before{transform: rotate(201deg);}
.pie-j-202::before{transform: rotate(202deg);}
.pie-j-203::before{transform: rotate(203deg);}
.pie-j-204::before{transform: rotate(204deg);}
.pie-j-205::before{transform: rotate(205deg);}
.pie-j-206::before{transform: rotate(206deg);}
.pie-j-207::before{transform: rotate(207deg);}
.pie-j-208::before{transform: rotate(208deg);}
.pie-j-209::before{transform: rotate(209deg);}
.pie-j-210::before{transform: rotate(210deg);}
.pie-j-211::before{transform: rotate(211deg);}
.pie-j-212::before{transform: rotate(212deg);}
.pie-j-213::before{transform: rotate(213deg);}
.pie-j-214::before{transform: rotate(214deg);}
.pie-j-215::before{transform: rotate(215deg);}
.pie-j-216::before{transform: rotate(216deg);}
.pie-j-217::before{transform: rotate(217deg);}
.pie-j-218::before{transform: rotate(218deg);}
.pie-j-219::before{transform: rotate(219deg);}
.pie-j-220::before{transform: rotate(220deg);}
.pie-j-221::before{transform: rotate(221deg);}
.pie-j-222::before{transform: rotate(222deg);}
.pie-j-223::before{transform: rotate(223deg);}
.pie-j-224::before{transform: rotate(224deg);}
.pie-j-225::before{transform: rotate(225deg);}
.pie-j-226::before{transform: rotate(226deg);}
.pie-j-227::before{transform: rotate(227deg);}
.pie-j-228::before{transform: rotate(228deg);}
.pie-j-229::before{transform: rotate(229deg);}
.pie-j-230::before{transform: rotate(230deg);}
.pie-j-231::before{transform: rotate(231deg);}
.pie-j-232::before{transform: rotate(232deg);}
.pie-j-233::before{transform: rotate(233deg);}
.pie-j-234::before{transform: rotate(234deg);}
.pie-j-235::before{transform: rotate(235deg);}
.pie-j-236::before{transform: rotate(236deg);}
.pie-j-237::before{transform: rotate(237deg);}
.pie-j-238::before{transform: rotate(238deg);}
.pie-j-239::before{transform: rotate(239deg);}
.pie-j-240::before{transform: rotate(240deg);}
.pie-j-241::before{transform: rotate(241deg);}
.pie-j-242::before{transform: rotate(242deg);}
.pie-j-243::before{transform: rotate(243deg);}
.pie-j-244::before{transform: rotate(244deg);}
.pie-j-245::before{transform: rotate(245deg);}
.pie-j-246::before{transform: rotate(246deg);}
.pie-j-247::before{transform: rotate(247deg);}
.pie-j-248::before{transform: rotate(248deg);}
.pie-j-249::before{transform: rotate(249deg);}
.pie-j-250::before{transform: rotate(250deg);}
.pie-j-251::before{transform: rotate(251deg);}
.pie-j-252::before{transform: rotate(252deg);}
.pie-j-253::before{transform: rotate(253deg);}
.pie-j-254::before{transform: rotate(254deg);}
.pie-j-255::before{transform: rotate(255deg);}
.pie-j-256::before{transform: rotate(256deg);}
.pie-j-257::before{transform: rotate(257deg);}
.pie-j-258::before{transform: rotate(258deg);}
.pie-j-259::before{transform: rotate(259deg);}
.pie-j-260::before{transform: rotate(260deg);}
.pie-j-261::before{transform: rotate(261deg);}
.pie-j-262::before{transform: rotate(262deg);}
.pie-j-263::before{transform: rotate(263deg);}
.pie-j-264::before{transform: rotate(264deg);}
.pie-j-265::before{transform: rotate(265deg);}
.pie-j-266::before{transform: rotate(266deg);}
.pie-j-267::before{transform: rotate(267deg);}
.pie-j-268::before{transform: rotate(268deg);}
.pie-j-269::before{transform: rotate(269deg);}
.pie-j-270::before{transform: rotate(270deg);}
.pie-j-271::before{transform: rotate(271deg);}
.pie-j-272::before{transform: rotate(272deg);}
.pie-j-273::before{transform: rotate(273deg);}
.pie-j-274::before{transform: rotate(274deg);}
.pie-j-275::before{transform: rotate(275deg);}
.pie-j-276::before{transform: rotate(276deg);}
.pie-j-277::before{transform: rotate(277deg);}
.pie-j-278::before{transform: rotate(278deg);}
.pie-j-279::before{transform: rotate(279deg);}
.pie-j-280::before{transform: rotate(280deg);}
.pie-j-281::before{transform: rotate(281deg);}
.pie-j-282::before{transform: rotate(282deg);}
.pie-j-283::before{transform: rotate(283deg);}
.pie-j-284::before{transform: rotate(284deg);}
.pie-j-285::before{transform: rotate(285deg);}
.pie-j-286::before{transform: rotate(286deg);}
.pie-j-287::before{transform: rotate(287deg);}
.pie-j-288::before{transform: rotate(288deg);}
.pie-j-289::before{transform: rotate(289deg);}
.pie-j-290::before{transform: rotate(290deg);}
.pie-j-291::before{transform: rotate(291deg);}
.pie-j-292::before{transform: rotate(292deg);}
.pie-j-293::before{transform: rotate(293deg);}
.pie-j-294::before{transform: rotate(294deg);}
.pie-j-295::before{transform: rotate(295deg);}
.pie-j-296::before{transform: rotate(296deg);}
.pie-j-297::before{transform: rotate(297deg);}
.pie-j-298::before{transform: rotate(298deg);}
.pie-j-299::before{transform: rotate(299deg);}
.pie-j-300::before{transform: rotate(300deg);}
.pie-j-301::before{transform: rotate(301deg);}
.pie-j-302::before{transform: rotate(302deg);}
.pie-j-303::before{transform: rotate(303deg);}
.pie-j-304::before{transform: rotate(304deg);}
.pie-j-305::before{transform: rotate(305deg);}
.pie-j-306::before{transform: rotate(306deg);}
.pie-j-307::before{transform: rotate(307deg);}
.pie-j-308::before{transform: rotate(308deg);}
.pie-j-309::before{transform: rotate(309deg);}
.pie-j-310::before{transform: rotate(310deg);}
.pie-j-311::before{transform: rotate(311deg);}
.pie-j-312::before{transform: rotate(312deg);}
.pie-j-313::before{transform: rotate(313deg);}
.pie-j-314::before{transform: rotate(314deg);}
.pie-j-315::before{transform: rotate(315deg);}
.pie-j-316::before{transform: rotate(316deg);}
.pie-j-317::before{transform: rotate(317deg);}
.pie-j-318::before{transform: rotate(318deg);}
.pie-j-319::before{transform: rotate(319deg);}
.pie-j-320::before{transform: rotate(320deg);}
.pie-j-321::before{transform: rotate(321deg);}
.pie-j-322::before{transform: rotate(322deg);}
.pie-j-323::before{transform: rotate(323deg);}
.pie-j-324::before{transform: rotate(324deg);}
.pie-j-325::before{transform: rotate(325deg);}
.pie-j-326::before{transform: rotate(326deg);}
.pie-j-327::before{transform: rotate(327deg);}
.pie-j-328::before{transform: rotate(328deg);}
.pie-j-329::before{transform: rotate(329deg);}
.pie-j-330::before{transform: rotate(330deg);}
.pie-j-331::before{transform: rotate(331deg);}
.pie-j-332::before{transform: rotate(332deg);}
.pie-j-333::before{transform: rotate(333deg);}
.pie-j-334::before{transform: rotate(334deg);}
.pie-j-335::before{transform: rotate(335deg);}
.pie-j-336::before{transform: rotate(336deg);}
.pie-j-337::before{transform: rotate(337deg);}
.pie-j-338::before{transform: rotate(338deg);}
.pie-j-339::before{transform: rotate(339deg);}
.pie-j-340::before{transform: rotate(340deg);}
.pie-j-341::before{transform: rotate(341deg);}
.pie-j-342::before{transform: rotate(342deg);}
.pie-j-343::before{transform: rotate(343deg);}
.pie-j-344::before{transform: rotate(344deg);}
.pie-j-345::before{transform: rotate(345deg);}
.pie-j-346::before{transform: rotate(346deg);}
.pie-j-347::before{transform: rotate(347deg);}
.pie-j-348::before{transform: rotate(348deg);}
.pie-j-349::before{transform: rotate(349deg);}
.pie-j-350::before{transform: rotate(350deg);}
.pie-j-351::before{transform: rotate(351deg);}
.pie-j-352::before{transform: rotate(352deg);}
.pie-j-353::before{transform: rotate(353deg);}
.pie-j-354::before{transform: rotate(354deg);}
.pie-j-355::before{transform: rotate(355deg);}
.pie-j-356::before{transform: rotate(356deg);}
.pie-j-357::before{transform: rotate(357deg);}
.pie-j-358::before{transform: rotate(358deg);}
.pie-j-359::before{transform: rotate(359deg);}
.pie-j-360::before{transform: rotate(360deg);}

.pie-j-q1::before{background-color: white;}
.pie-j-q2::before{background-color: white;}
.pie-j-q3::before{background-color: orange;}
.pie-j-q4::before{background-color: orangered;}

.pie-j {
    width: 40px; height: 40px;
    border-radius: 50%;
    position: relative;
    box-shadow:  0px 0px 4px .5px rgba(0,0,0,.4);
}

.pie-j-q1{
    background: white;
    background-image: linear-gradient(to right, transparent 50%, rgb(27, 186, 6))
}
.pie-j-q2{
    background: white;
    background-image: linear-gradient(to right, transparent 50%, #ffd607 0);
}
.pie-j-q3{
    background: white;
    background-image: linear-gradient(to right, transparent 50%, orange 0);
}
.pie-j-q4{
    background: white;
    background-image: linear-gradient(to right, transparent 50%, orangered 0);
}
/* 
.pie-j-q1 .score-j{
    color: rgb(27, 186, 6);
} 
.pie-j-q2 .score-j{
    color: #ffd607;
} 
.pie-j-q3 .score-j{
    color: orange;
} 
.pie-j-q4 .score-j{
    color: orangered;
}  */
.pie-j::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    transform-origin: left;
    /* transform: rotate(10deg); */
}


div.lable-j{
    transition: background-color .2s;
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #bababa;
padding: 7px 30px;
align-items: center;
position: relative;
}
.lable-j:hover{
    background-color: #f0f2fc;
}

div[role="scrollbar-lenses"]{
    display: flex;
    flex-wrap: wrap;
    width: 25vw;
    position: fixed;
    height: 80vh;
    top: 10vh;
    right: 10vw;
    background: #f5f5f566;
    border: none;
    box-shadow: 0 0 2px 0.5px #bebebe;
    border-radius: 8px;
    overflow: hidden;
}

body{
    margin: 0;
}

textarea{
    width: 50vw;
height: 80vh;
position: fixed;
border-radius: 20px;
resize: none;
top: 10vh;
left: 10vw;
box-sizing: border-box;
padding: 32px;
background: #f5f5f566;
border: none;
box-shadow: 0 0 2px 0.5px #bebebe;
font-size: 1.5em;

}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.score-j{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #6b6b6b;
    font-size: 1.2em;
}

.bar-j{
    width: 86%;
    position: absolute;
    height: 4px;
    border-radius: 4px;
    background: #9090907a;
    bottom: 13px;
    left: 7%;
    overflow: hidden;
}
.bar-j > div{
    height: 100%;
    width: 100%;
}

.bar-j > div.pie-j-q1{ background-color: rgb(27, 186, 6);}
    
.bar-j > div.pie-j-q2{ background-color: #ffd607 }
    
.bar-j > div.pie-j-q3{ background-color: orange } 
    
.bar-j > div.pie-j-q4{ background-color: orangered } 
    
.loader {
    color: #94c4cf;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  
  .lable-j-2.lable-j{
    flex-wrap: wrap;
    font-size: 1.5em;
    align-items: flex-start;
    padding-top: 32px;
    color: gray;
  }
.lable-j-2:hover{
    background-color: none;
}
.lable-j-2.lable-j > div:first-child{
    width: 100%;
}